@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
:root {
  --primary-dark: #6c68da;
  --primary-light: #709dff;
}
.icon {
  color: var(--primary-dark);
}
@layer base {
  body {
    @apply font-[Poppins]
  }
  li {
    @apply p-4
  }
  h1 {
    @apply text-3xl md:text-4xl font-bold
  }
  h2 {
    @apply text-3xl font-bold
  }
  h3 {
    @apply text-xl font-bold
  }
  button {
    @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md
  }
  .icon {
    @apply text-2xl cursor-pointer
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .custom-image {
    background-image: url('https://img.freepik.com/free-photo/full-shot-travel-concept-with-landmarks_23-2149153258.jpg?3&w=1060&t=st=1671201337~exp=1671201937~hmac=819d12ab98b116833fd504491cc781a1c5c13256ba75294e92b56dd66d8a3ae4');
  }

  body {
    background-color: #eff1f8;
  }
  
}

@media only screen and (max-width: 600px) {
  .page-item {
    width: 100%;
  }

  .page-link {
    width: 100%;
  }
}